<div class="absolute w-80 py-3 px-4 h-full bg-stone-900 border-r border-stone-200 overflow-y-auto -lg:relative -lg:block -lg:border-b -lg:border-stone-200 -lg:w-full">
  <h2 class="mb-1.5 text-xl font-serif text-stone-50">My Profile</h2>
  <a href="/profile/" :class="{ 'bg-red-900 text-stone-50': $store.active.currentSetting == 'profile' }" class="group cursor-pointer group flex items-center w-full py-1 px-2.5 mb-1 rounded-md font-semibold text-stone-500 transition duration-500 hover:text-stone-900 -lg:p-3">
    <p class="text-stone-50">User Profile</p>
  </a>
  <a href="/update_password/" :class="{ 'bg-red-900 text-stone-50': $store.active.currentSetting == 'update_password' }" class="group cursor-pointer group flex items-center w-full py-1 px-2.5 mb-1 rounded-md font-semibold text-stone-500 transition duration-500 hover:text-stone-900 -lg:p-3">
    <p class="text-stone-50">Update Password</p>
  </a>
  <a href="/logout/" class="group cursor-pointer group flex items-center w-full py-1 px-2.5 mb-1 rounded-md font-semibold text-stone-500 transition duration-500 hover:text-stone-900 -lg:p-3">
    <p class="text-stone-50">Logout</p>
  </a>
  {% if user_is_admin %}
  <h2 class="mt-6 mb-1.5 text-xl font-serif text-stone-50">System Administration</h2>
  <a href="/system/" :class="{ 'bg-red-900 text-stone-50': $store.active.currentSetting == 'system' }" class="group cursor-pointer group flex items-center w-full py-1 px-2.5 mb-1 rounded-md font-semibold text-stone-500 transition duration-500 hover:text-stone-900 -lg:p-3">
    <p class="text-stone-50">System Status</p>
  </a>
  {% if env_ollama %}
  <a href="/system/ollama" :class="{ 'bg-red-900 text-stone-50': $store.active.currentSetting == 'ollama_model' }" class="group cursor-pointer group flex items-center w-full py-1 px-2.5 mb-1 rounded-md font-semibold text-stone-500 transition duration-500 hover:text-stone-900 -lg:p-3">
    <p class="text-stone-50">Manage Ollama</p>
  </a>
  {% endif %}
  <a href="/users/" :class="{ 'bg-red-900 text-stone-50': $store.active.currentSetting == 'userList' }" class="group cursor-pointer group flex items-center w-full py-1 px-2.5 mb-1 rounded-md font-semibold text-stone-500 transition duration-500 hover:text-stone-900 -lg:p-3">
    <p class="text-stone-50">User Management</p>
  </a>
  {% endif %}

</div>
