@font-face {
  font-family: "ZenDots-Regular";
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/promptpanel/fonts/ZenDots-Regular.woff2") format("woff2");
}
[x-cloak] {
  display: none !important;
}
body,
html {
  font-size: 14px;
}
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "" !important;
}
